# Optional explicit backend URL for mobile clients.
# If omitted, the app will auto-derive host from Expo dev host URI.
#EXPO_PUBLIC_GRAPHQL_HTTP_URL=http://YOUR-IP-ADDRESS:4000/graphql
EXPO_PUBLIC_GRAPHQL_HTTP_URL=http://localhost:4000/graphql